.modes-section {
    height: auto;
    background-color: #ede4d9;
    margin: 0;
    padding: 0;
    transition: none;
    align-items: flex-start;
}

.content {
    flex-direction: column;
    margin-top: 20px;
    max-width: 900px;
    margin-bottom: 30px;
}
@media (max-width: 768px) {
    .content {
        padding: 0;
        margin-top: 100px;
        max-width: 70%;
    }
}

.content h1#intro {
    text-align: center;
    line-height: 1.3;
    width: 90%;
    font-family: monospace-typewriter;
}
/* @media (max-width: 768px) {
    .content h1#intro {
        font-size: medium;
    }
} */

span#linebreak {
    margin: 0 auto;
    border-bottom: 4px solid black;
    border-radius: 100px;
    width: 25%;
    height: 5px;
    display: block;
}

.game-cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border: solid 2px black;
    border-radius: 7px;
    margin-bottom: 20px;
    padding: 20px 20px 10px 20px;
    width: 40%;
}

.card .title {
    margin: 0;
    border-bottom: dashed 2px;
    padding-bottom: 5px;
    display: inline-block;
}

.card .subtitle {
    font-style: italic;
    font-weight: lighter;
    margin: 7px auto 20px 0;
}

.card p { 
    line-height: 1.5;
}

@media (max-width: 875px) {
    .card#mano .title {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    .content h1#intro {
        font-size: large;
        width: 70%;
    }

    .game-cards {
        flex-direction: column;
        align-content: space-around;
        margin-top: 25px;
    }

    .card {
        width: 75%;
    }

    .card .title {
        font-size: large;
    }
    .card .subtitle {
        font-size: medium;
    }
    .card#mano .subtitle {
        font-size: smaller;
    }

    .card p {
        font-size: small;
        line-height: 1.3;
    }
}

@media (max-width: 768px) {
    .content h1#intro {
        font-size: medium;
        width: 90%;
    }
    
    .card {
        width: 85%;
    }
    
    .card .title {
        font-size: medium;
    }

    .card .subtitle {
        font-size: medium;
    }
}

/* 
    Can underline words within a <p> tag
    https://css-tip.com/rounded-dashed-underline/
*/